.Content {
    padding: 0 1% 1% 1%;
    text-align: center;
    min-width: 70%;
    width: 500px;
    margin: auto;
    background-color: var(--background-blue);
}

.Content__topMargin {
    padding-top: 1%;
}

.Content_success {
    background-color: var(--green);
    font-size: 16px;
    padding: 10px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

.Content_success__white {
    color: var(--white);
}

.Content_button {
    background: none;
    border: none;
    border-radius: 35px;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: var(--blue);
    transition: background-color 0.5s;
    color: var(--white);
    width: 100%;
    margin-top: 50px;
}

.Content_button:hover {
    background-color: var(--light-blue);
    transition: background-color 0.5s;
}

.Content_button__colorless {
    background: none;
    border: none;
    border-radius: 35px;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: var(--blue);
    margin-top: 10px;
}