.App {
  background-color: lightblue;
  font-family: 'Montserrat';
  min-height: 100vh;
  padding-bottom: 20px;
}

.Title1 {
  text-align: center;
  margin-top: 34px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #0B2B5B;
}

.Title2 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #0B2B5B;
  margin-top: 8px;
  margin-bottom: 32px;
}