:root {
  --white: #FFFFFF;
  --green: #25A575;
  --turquoise: #2595A5;
  --light-blue: #3A719B;
  --background-blue: #CDE7ED;
  --blue: #0B2B5B;
}

body {
  background-color: var(--background-blue);
}

h1, h2, h3, h4, p {
  color: var(--blue)
}

body, div, p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
